# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# Static/media
staticfiles/
media/

# IDE
.vscode/
.idea/

# Docker
*.log
.env.local
