*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:#0f172a;
}

/* LOGIN */

.main{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.card{
  width:50%;
  max-width:430px;
  background:rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  border-radius:24px;
  padding:40px;
  box-shadow:0 10px 40px rgba(0,0,0,0.4);
}
.dashboard-card{
  width: 420px;
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  margin: auto;
}

.cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo{
  color:white;
  text-align:center;
  font-size:34px;
  margin-bottom:40px;
}



.input{
  width:100%;
  padding:16px;
  border:none;
  outline:none;
  border-radius:14px;
  margin-bottom:18px;
  background:rgba(255,255,255,0.08);
  color:white;
  font-size:15px;
  border:1px solid transparent;
}

.input:focus{
  border:1px solid #3b82f6;
}

.input::placeholder{
  color:#94a3b8;
}

.login-btn{
  width:100%;
  padding:16px;
  border:none;
  border-radius:14px;
  background:linear-gradient(135deg,#2563eb,#3b82f6);
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  transform:translateY(-2px);
}

.error-text{
  color:#ef4444;
  margin-bottom:15px;
  font-size:14px;
}

/* DASHBOARD */

.dashboard{
  min-height:100vh;
  padding:40px;
  background:#020617;
}

.topbar{
  margin-bottom:35px;
}

.topbar h1{
  color:white;
  font-size:34px;
}

.cards-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:25px;
}

.dashboard-card{
  background:#111827;
  border:1px solid #1e293b;
  border-radius:22px;
  padding:30px;
}

.dashboard-card h3{
  color:white;
  margin-bottom:25px;
  font-size:22px;
}

.api-box{
  background:#020617;
  border:1px solid #1e293b;
  color:#22c55e;
  padding:18px;
  border-radius:14px;
  margin-top:10px;
  word-break:break-all;
}
