@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Optional clean reset (safe) */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* optional: remove default font issues */
body {
  font-family: 'DM Sans', system-ui, "Segoe UI", Roboto, sans-serif;
}
